In [1]:
import pandas as pd
df = pd.read_csv('diabetes.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [2]:
df.info() #Mengcek Nilai yang Hilang pada DataSet & Serta Atribut yang bukan Numerik

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [10]:
#Memisahkan atribut pada dataset dan menyimpannya pada sebuah variabel
x = df[df.columns[:8]]
#Memisahkan label pada dataset dan menyimpannya pada sebuah variabel
y = df['Outcome']
#Karena ada perbedaan tipe data maka perlu mengubah nilai pada atribut menggunakan skala yang sama
#Menggunakan Standarisasi dengan fungsi StandardScaler() dari SKLearn
from sklearn.preprocessing import StandardScaler
#Standarisasi nilai-nilai dari dataset
scaler = StandardScaler()
scaler.fit(x)
X = scaler.transform(x)
#Memisahkan data training dan data testing
#Menggunakan fungsi train_test_split()
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)
#Membuat objek Support Vector Classifier dan menampungnya di variabel clf
from sklearn.svm import SVC
clf = SVC()
clf.fit(x_train, y_train) #Fungsi fit untuk melatih model
#Melihat akurasi prediksi dari model yang kita latih terhadap data testing
clf.score(x_test, y_test)

0.7440944881889764